{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About</h1>

    <p class="lead">This is the about page</p>

    <p>Welcome to your Fitness Journey</p>

    <p>G Unit Fitness Studio 
        We are a full service fitness studio specializing in custom fitness programs for professional athletes, corporates, students, and all our DC residents. Take advantage of our classes to build a physique you have always wanted. First class and consultation is free to make sure we are the right fit for each other.</p>



{% endblock %}
